@import '../styling/mixins.scss';

.Home {
  padding: 0 0 20px;

  img {
    width: 100%;
  }

  // make this font-weight = thin, and make it a little bit bigger
  .coming-soon {
    position: absolute;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    left: 100px;
    top: 50%;
  }
}