@import '../styling/variables.scss';

body, 
html {
  height: 100%;
}

.App {
  font-size: 14px;
  padding: 0 12%;
  height: 100%;

  a {
    text-decoration: none;
    color: black;
    font-size: 12px;
  }

  a:hover {
    color: #807F81;
  }

  h1, 
  h2 {
    font-family: $header-font;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.6em;
  }

  p {
    font-family: $body-font;
    line-height: 135%;
  }

  header {
    padding: 20px 0 5px;
  }

}

