@import '../styling/variables.scss';

body, 
html {
  height: 100%;
}

.App {
  font-size: 14px;
  padding: 0 18%;
  height: 100%;

  a {
    text-decoration: none;
    color: black;
    font-family: $body-font;
  }

  a:hover {
    color: #807F81;
  }

  h1, 
  h2 {
    font-family: $header-font;
  }

  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 1.6em;
  }

  p {
    font-family: $body-font;
    line-height: 135%;
  }

  header {
    padding: 20px 0 5px;
  }

  nav {
    font-family: $body-font;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 0;
  
    a {
      margin: 0 0 0 22px;
      padding-bottom: 2px;
      font-size: 18px;
    }
  
    a.active {
      border-bottom: 1px solid $slate;
    }
  }
}

@media screen and (max-width: 1520px) {
  .App {
    padding: 0 14%;

    h1 {
      font-size: 3rem;
    }

    nav {
      a {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .App {
    padding: 0 12%;
    
    h1 {
      font-size: 2.6rem;
    }
    
    nav {
      a {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .App {
    header {
      padding: 35px 0 5px;
    }
  }
}

@media screen and (max-width: 570px) {
  .App {
    padding: 0 8%;

    h1 {
      font-size: 2rem;
    }

    nav {
      justify-content: flex-start;
      padding: 10px 0;
      
      a {
        margin: 0 22px 0 0;
      }
    }
  }
}
