@import url("https://fonts.googleapis.com/css?family=Maitree|Work+Sans:200,400");
body,
html {
  height: 100%; }

.App {
  font-size: 14px;
  padding: 0 12%;
  height: 100%; }
  .App a {
    text-decoration: none;
    color: black;
    font-family: "Work Sans", sans-serif; }
  .App a:hover {
    color: #807F81; }
  .App h1,
  .App h2 {
    font-family: "Maitree", serif; }
  .App h1 {
    font-size: 2.4em; }
  .App h2 {
    font-size: 1.6em; }
  .App p {
    font-family: "Work Sans", sans-serif;
    line-height: 135%; }
  .App header {
    padding: 20px 0 5px; }
  .App nav {
    font-family: "Work Sans", sans-serif;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 0; }
    .App nav a {
      margin: 0 0 0 22px;
      padding-bottom: 2px;
      font-size: 12px; }
    .App nav a.active {
      border-bottom: 1px solid #807F81; }

@media screen and (max-width: 1200px) {
  .App {
    padding: 0 7%; } }
